body,td,th {font-family: Arial;font-size: 12px;}
body {margin:0px;background-color:#E8E8E8;margin-bottom:15px;}
a:link {color: #333333;text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
div,ul,li,span,h1{list-style:none;padding:0px;margin:0px;}

.top0 {width:100%;height:40px;background-color:#424242;}
.top1 {width:980px;height:40px;margin:0 auto;overflow:hidden;}
.top2 {float:left;background-image:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif);width:283px;height:40px;}
.top3 {float:right;width:205px;height:40px;overflow:hidden;}
.top3 a {width:205px;height:40px;display:inline-block;margin-right:5px;background:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif) no-repeat 0px -82px;border:0px;}
.top3 a:hover {width:205px;height:40px;display:inline-block;margin-right:5px;background:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif) no-repeat 0px -122px;border:0px;}

.top_b1 {height:30px;width:980px;margin:0 auto;overflow:hidden;border:1px solid #D4D4D4;background-color:#ffffff;margin-top:10px;line-height:30px;font-size:12px;}
.top_b2 {margin-left:10px;font-family:"ו";color:#555555;word-spacing:10px;}
.top_b2 i {font-style: normal;}
.top_b2 a {color:#555555;}

.hh {height:40px;width:980px;margin:0 auto;margin-top:15px;border-bottom:1px dotted #C1C1C1;}
.hh1 {float:left;width:35px;height:25px;background:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif) no-repeat 0px -244px;}
.hh2 {float:left;font-size:24px;color:#333333;}

.play {height:515px;width:980px;margin:0 auto;overflow:hidden;margin-top:5px;}
.play_left {float:left;width:765px;height:515px;}
.play_right {float:right;width:210px;height:515px;}
.play_left1 {float:left;width:763px;height:21px;overflow:hidden;}
.play_left1_1 {float:left;width:102px;height:21px;}
.play_left1_1 a {float:left;background:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif) no-repeat 0px -40px;width:102px;height:21px;}
.play_left1_2 {float:right;width:168px;height:21px;background:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif) no-repeat 0px -61px;}
.play_left1_2 a {float:right;width:41px;height:21px;}
/* play */
.play_left2 {float:left;width:765px;height:490px;overflow:hidden;background:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif) no-repeat 0px -332px;margin-top:5px;}
.play_right {float:right;width:210px;background-color:#FFFFFF;height:510px;border:1px solid #D4D4D4;overflow:hidden;}
.play_right_1 {float:left;width:210px;height:40px;border-bottom:1px solid #D4D4D4;background:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif) no-repeat 0px -269px;line-height:40px;font-size:14px;color:#A40000;padding-left:10px;}
.play_right_2 {float:left;width:210px;height:470px;}
.play_right_2 ul {float:left;}
.play_right_2 li {float:left;width:210px;height:38px;border-bottom:1px dotted #C1C1C1;background:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif) no-repeat 0px -822px;}
.play_right_2 li a {float:left;width:210px;height:38px;line-height:38px;padding-left:30px;color:#555555;}
#d1 {border:0px;}

.bufer1 {height:188px;width:980px;margin:0 auto;overflow:hidden;border:1px solid #D4D4D4;background-color:#ffffff;margin-top:7px;line-height:30px;font-size:12px;}
.bufer {float:left;height:180px;width:980px;overflow:hidden;margin-left:7px;display:inline;margin-top:7px;}
.bufer ul {float:left;}
.bufer li {float:left;width:243px;height:190px;overflow:hidden;}
.bufer li a {float:left;width:235px;height:180px;overflow:hidden;line-height:30px;text-align:center;font-size:14px;color:#333333;}
.buferimg {border:0px;width:235px;height:150px;}

.bot {width:980px;height:50px;margin:0 auto;margin-top:10px;border-top:1px dotted #C1C1C1;line-height:20px;color:#555555;text-align:center;padding-top:10px;}
.play_left2_1 {float:left;height:45px;width:740px;overflow:hidden;}
.play_left2_1_1 {float:left;margin-left:25px;margin-top:20px;height:45px;width:740px;display:inline;color:#888888;}
.play_left2_2 {margin-left:60px;width:740px;height:350px;overflow:hidden;position:relative;}
.swf_play {margin-top:-65px;display:inline;}
.play_left2_3 {float:left;height:45px;width:61px;overflow:hidden;display:inline;}
.play_left2_3 a {float:left;height:41px;width:61px;background:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif) no-repeat -61px -162px;}
.play_left2_3 a:hover {float:left;height:41px;width:61px;background:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif) no-repeat 0px -162px;}
.play_left2_9 {float:left;height:45px;width:61px;overflow:hidden;display:inline;}
.play_left2_9 a {float:left;height:41px;width:61px;background:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif) no-repeat -183px -162px;}
.play_left2_9 a:hover {float:left;height:41px;width:61px;background:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif) no-repeat -122px -162px;}
.play_left2_4 {float:left;height:45px;width:61px;overflow:hidden;display:inline;margin-left:2px;margin-top:9px;}
.play_left2_4 a {float:left;height:22px;width:23px;background:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif) no-repeat 0px -863px;}
.play_left2_4 a:hover {float:left;height:22px;width:23px;background:url(http://aifuli.github.io/blog/nHnvnWDkrjc3P6.gif) no-repeat -24px -863px;}

.play_left5 {float:left;height:45px;width:740px;overflow:hidden;margin-top:39px;margin-left:12px;display:inline;}
#f_down0 {position:absolute;width:445px;height:135px;z-index:3;left: 95px;top: 105px;background-color:#ffffff;
border:1px solid #e3e3e3;
filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;}
.f_down {position:absolute;z-index:8;left:0px;top:0px;}
.f_down1 {position:absolute;width:435px;height:125px;z-index:3;left: 110px;top: 115px;}

.df1 {font-size:14px;height:25px;line-height:25px;color:#A60000;}
.df2 {font-size:14px;height:30px;line-height:25px;color:#005D0D;}

.dd0 {width:430px;height:60px;overflow:hidden;}
.dd1 {float:left;width:220px;height:59px;overflow:hidden;}
.dd1 a {float:left;width:205px;height:59px;background-image:url(http://aifuli.github.io/blog/nHnvnHc3nHbLn0.png);}
.dd2 {float:left;width:205px;height:59px;overflow:hidden;}
.dd2 a {float:left;width:205px;height:59px;background-image:url(http://aifuli.github.io/blog/nHnvnHc3nHbLrf.png);}

#f_down5 {position:absolute;width:22px;height:22px;z-index:9;left: 512px;top: 113px;}
.cColes {float:left;width:24px;height:24px;overflow:hidden;display:inline;}
.cColes a {float:left;width:20px;height:20px;font-size:12px;font-weight: bold;text-align:center;line-height:20px;font-family:arial;color:#C13636;background-color:#ffffff;border:1px solid #DFA7A7;display:inline;text-decoration:none;}